.cards {
  margin: 0;
  padding: 0;
  display: grid;
  justify-items: center;
}

@media screen and (min-width: 768px) {
  .cards {
  grid-template-columns: 1fr 1fr;
  gap: 20px 17px;
  }
}

@media screen and (min-width: 1024px) {
  .cards {
  grid-template-columns: 1fr 1fr 1fr;
  }
}
