.cards__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

@media screen and (min-width: 924px) {
  .cards__list {
    gap: 20px 17px;
  }
}
