.profil__name {
  margin: 26px 0 8px 0;
  color: #fff;
  font-weight: 500;
  font-size: 27px;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
}

@media screen and (min-width: 1024px) {
  .profil__name {
    font-size: 42px;
    line-height: 1.1;
  }
}
