.profil__edit {
  width: 18px;
  height: 18px;
  margin: 33px 0 0 10px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../images/edit-button-18.svg);
  background-position: center;
  border: 0;
  padding: 0;
  cursor: pointer;
  }

  .profil__edit:hover {
  opacity: 0.6;
  }

  @media screen and (min-width: 768px) {
    .profil__edit {
      margin: 28px 0 0 18px;
    }
  }

  @media screen and (min-width: 1024px) {
    .profil__edit {
      width: 24px;
      height: 24px;
      margin: 36px 0 0 18px;
      background-image: url(../../../images/edit-button.svg);
    }
  }
