@import url(../vendor/fonts/fonts.css);
.body {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    background-color: #000;
    margin: 0;
  }
  
  .header {
    padding: 28px 0 32px 27px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  }
  
  @media screen and (min-width: 768px) {
    .header {
      padding: 27px 0 32px 92px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .header {
      max-width: 880px;
      margin: 45px auto 0;
      padding: 0 0 41px 0;
    }
  }
  

  .logo {
    width: 104px;
    height: 25px;
  }
  
  .logo:hover {
    opacity: 0.6;
  }
  
  @media screen and (min-width: 1024px) {
    .logo {
      width: 142px;
      height: 33px;
    }
  }

  .profil {
    text-align: center;
    padding: 39px 0 36px;
  }
  
  @media screen and (min-width: 768px) {
    .profil {
      width: 590px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 5fr 1fr;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .profil {
      width: 880px;
      padding: 37px 0 48px;
    }
  }

  
  .profil__avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }

  .profil__info {
    display: grid;
    grid-template-columns: 189px auto;
    margin: 0 auto;
    max-width: 217px;
  }
  
  @media screen and (min-width: 768px) {
    .profil__info {
      text-align: start;
      max-width: 400px;
      display: grid;
      margin: 0 0 0 30px;
      grid-template-columns: 3fr 1fr;
    }
  }

  .profil__name {
    margin: 22px 0 14px 0;
    color: #fff;
    font-weight: 500;
    font-size: 27px;
    line-height: 1.2;
    overflow: hidden;
  }
  
  @media screen and (min-width: 1024px) {
    .profil__name {
      font-size: 42px;
      line-height: 1.1;
    }
  }

  .profil__edit {
    width: 18px;
    height: 18px;
    margin: 30px 0 0 10px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../images/edit-button-18.svg);
    background-position: center;
    border: 0;
    padding: 0;
    cursor: pointer;
  }
  
  .profil__edit:hover {
    opacity: 0.6;
  }
  
  @media screen and (min-width: 768px) {
    .profil__edit {
      margin: 28px 0 0 18px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .profil__edit {
      width: 24px;
      height: 24px;
      margin: 36px 0 0 18px;
      background-image: url(../images/edit-button.svg);
    }
  }
  
  .profil__text {
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2;
    color: #fff;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
  }
  
  @media screen and (min-width: 1024px) {
    .profil__text {
      font-size: 18px;
    }
  }
  
  .profil__add-button {
    margin: 36px 0;
    width: 282px;
    height: 50px;
    padding: 0;
    border: 2px solid #fff;
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    border-radius: 2px;
    cursor: pointer;
  }
  
  .profil__add-button:hover {
    opacity: 0.6;
  }
  
  @media screen and (min-width: 768px) {
    .profil__add-button {
      width: 150px;
      margin: 38px 0 0 24px;
    }
  }

  .profil__icon-button {
    width: 16px;
    height: 16px;
  }
  
  @media screen and (min-width: 1024px) {
    .profil__icon-button {
      width: 22px;
      height: 22px;
    }
  }

  .gallery {
    padding: 0 19px;
    padding: 0 19px;
    max-width: 880px;
    margin: 0 auto;
  }


  .cards {
      margin: 0;
      padding: 0;
      display: grid;
      justify-items: center;
  }

  @media screen and (min-width: 768px) {
    .cards {
    grid-template-columns: 1fr 1fr;
    gap: 20px 17px;
    }
  }

  @media screen and (min-width: 1024px) {
    .cards {
    grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .cards__item {
    margin: 0;
    width: 282px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
  }

  @media screen and (min-width: 768px) {
    .cards__item {
        margin: 0;
    }
  }

  .cards__tiltle {
      margin: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 198px;
  }

.cards__image {
    width: 282px;
    height: 282px;
    object-fit: cover;
}

.cards__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px 23px 21px;
}


  .cards__icon-heart {
    width: 22px;
    height: 19px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../images/vector-heart.svg);
    background-position: center;
    border: 0;
    padding: 0;
  }
  
  .cards__icon:hover {
    opacity: 0.5;
    cursor: pointer;
  }
  
  .footer {
    padding: 0 19px;
    margin: 48px 0 36px;
  }

  @media screen and (min-width: 768px){
    .footer {
    width: 880px;
    margin: 67px auto 60px;
    }
  }

  .footer__text {
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2;
    color: #545454;
  }

  @media screen and (min-width: 768px){
    .footer__text {
    font-size: 18px;
 }
  }