.profil {
  text-align: center;
  padding: 39px 0 36px;
}

@media screen and (min-width: 768px) {
  .profil {
    width: 590px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .profil {
    width: 880px;
    padding: 37px 0 48px;
  }
}
