.profil__info {
    display: grid;
    grid-template-columns: 189px auto;
    margin: 0 auto;
    max-width: 217px;
  }
  
  @media screen and (min-width: 768px) {
    .profil__info {
      text-align: start;
      max-width: 400px;
      display: grid;
      margin: 0 0 0 30px;
      grid-template-columns: 3fr 1fr;
    }
  }