.profil__job {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
}

@media screen and (min-width: 1024px) {
  .profil__job {
    font-size: 18px;
  }
}
